<p id="notice"><%= notice %></p>

<h1>Books <%= params[:category] %></h1>
<% if @books.count == 0 %></h1>
  <h1>Aún no hay libros disponibles en esta categoría %></h1>
<% else %>
  <% @books.each do |book| %>
    <a href="/books/<%= book.id %>">
      <%= image_tag book.book_img.url(:medium) %>
    </a>

  <% end %>
<% end %>
<br>

<%= link_to 'New Book', new_book_path %>
